/***** RESET *****/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*font-size: 100%;
	vertical-align: baseline;*/
	
}
html, body {height:100%;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;} /
textarea {overflow:auto;}

/***** RESET *****/
.kutu0{height:2000px; width: 1800px; margin: 0px auto; background-color: slategrey}
.kutu1{height:225px; width: 1800px; background-color: white; margin: 0 auto; float: left}
.kutu12{height: 165px; width: 1080px; background-color: coral; text-align: center; margin: 0px auto; font: bold 20px arial; padding: 30px 0; float: left}
.kutu11{height: 195px; width: 360px; background-color: darkcyan; text-align: center; font: bold 12px tahoma; float: left; padding: 30px 0 0 0}
.kutu13{height: 225px; width: 360px; float: left;}
.kutu2{height: 100px; width: 1800px; background-color: steelblue; float: left;}
.kutu2 li {float: left;}
.kutu2 li a {display: block; width: 200px; height: 70px; background-color: yellow; margin: 0px 40px; text-align: center; padding: 30px 0 0 0; border-radius: 30px}
.kutu2 li a:hover{background-color: tomato; text-decoration: salmon}
.kutu3{height: 1080px; width: 1800px; background-color: springgreen; float: left; }
.kutu31{height: 600px; width: 460px; background-color: white; float: left}
.kutu32{height: 600px; width: 880px; background-color: violet; float: left;}
.kutu33{height: 600px; width: 460px; background-color: white; float: left;}
.kutu34{height: 480px; width: 1800px; background-color: yellowgreen; float: left;}	